* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Changa', sans-serif;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgb(47, 47, 51) 67%, rgb(69, 70, 56) 73%, rgb(90, 97, 69) 100%);

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 2px 1px 5px 1px rgb(15, 15, 15);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h3 {
    color: rgb(234, 238, 21);
}

.top-img {
    padding: 5px;
    margin-right: 15px;
    border-radius: 100%;
    box-shadow: 4px -2px 2px 1px black;
    width: 45px;

}

.top-img:hover {
    box-shadow: 4px 5px 20px 2px black;
    transition: 2s;
}

.links {
    list-style: none;
    display: flex;

}

.links li a {
    font-size: 20px;
    padding: 15px;
    text-decoration: none;
    color: rgb(234, 238, 21);

}

.links li a:hover {
    border-radius: 10px;
    color: rgb(185, 185, 162);
    border-bottom: 2px solid rgb(237, 240, 87);
    transition: 1s;
}

/* //////////////My introduction code start here///////////  */

.my-intro {
    height: max-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.dp {
    box-shadow: 4px 5px 20px 2px rgb(70, 69, 60);
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.introduction {
    text-align: center;
    font-size: 25px;
    width: max-content;
    color: aliceblue;
}

.introduction p {
    padding: 15px;
    text-align: center;
    font-family: 'Tangerine', serif;
}

.name {
    font-size: 48px;
    color: rgb(234, 238, 21);
}

/* //////////////My introduction code End here///////////  */


/* //////////////My Current skills code start here///////////  */

.skills {
    width: max-content;
    max-height: max-content;
    margin-top: 30px;
    padding-left: 50px;
    border-left: 2px solid rgb(237, 240, 87);
    text-align: center;

}

.skills h2 {
    padding: 6px;
    font-size: 30px;
    color: antiquewhite;
}

.skills h4 {
    padding: 6px;
    color: aliceblue;
}

.skills p {
    padding: 6px;
    color: rgb(230, 226, 30);
}

/* //////////////My Current skills code End here///////////  */


/* //////////////button code start here///////////  */
.btn {
    position: relative;
    top: 20px;
    text-align: center;
}

.btn a {
    font-size: 1.4rem;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    color: aliceblue;
    box-shadow: 0.1px 0.1px 5px 0.2px rgb(230, 226, 30);

}

#active {
    background-color: rgb(230, 226, 30);
    color: black;
}

.btn a:hover {
    color: rgb(19, 18, 18);
    background-color: rgb(230, 226, 30);
}

/* //////////////button code End here///////////  */

/************footer work here ***********/

footer {
    position: relative;
    top: 200px;
    background-color: rgb(69, 70, 56) 73%;
    font-family: sans-serif;
    box-shadow: 2px 1px 5px 1px rgb(15, 15, 15);

}

.quick h3 {
    padding: 20px;
    text-align: center;
    font-family: 'Tangerine', serif;
    color: rgb(115, 116, 60);
    font-size: 2rem;
    font-weight: 900;
    text-shadow: 7px 5px 6px;

}

.quick h3:hover {
    color: rgb(167, 154, 37);
}

.quick ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;

}

.quick ul li {

    padding: 6px;
}

.shear_maintainer {
    margin-top: 3rem;
    padding-bottom: 0.6rem;
    display: flex;
    justify-content: space-between;


}

.followUs h4 {
    font-size: 12px;
    text-align: center;
    color: #f4f9fa;
    border-bottom: 2px solid rgb(66, 61, 61);
    width: max-content;
    margin-left: 3.2rem;
    padding-bottom: 2px;

}

.followUs h4:hover,
.dh:hover {
    color: #3494E6;
    border-bottom: 2px solid rgb(211, 97, 21);
    transition: 1s;

}

.shear {
    display: flex;
    align-items: center;
    padding: 5px;

}

.shear i {
    padding-left: 15px;
}

footer i:hover {
    color: rgb(230, 226, 30);
    transition: 0.5s;
}


.m-logo img {

    margin: 3px;
    max-width: 35px;

}


/* copyright & designed heading */

.ms {
    color: rgb(255, 255, 255);
    transition: 0.5s;
    margin-right: 20px;
    text-align: center;


}


.dh {
    font-size: 12px;
    border-bottom: 2px solid rgb(66, 61, 61);
    width: max-content;
    padding-bottom: 3px;
}

.copy {
    box-shadow: 2px 1px 5px 1px rgb(15, 15, 15);

    padding-top: 1.6rem;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.policy {
    color: rgb(255, 255, 255);
    cursor: pointer;
}



.copyRight {
    color: rgb(255, 255, 255);
    text-align: center;
    cursor: pointer;

}

.bb {
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
}

.ico {
    color: #757304;
    font-size: 1.8rem;

}